.dashboard-container {
  overflow: hidden;
  width: 193px;
  display: inline-flex;
  background: #08f;
}
.dashboard-container ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
  cursor: pointer;
}
.dashboard-container li {
  padding: 73.7px 0;
  border-bottom: 9px solid #905d5d;
  list-style: none;
  text-align: center;
  font-size: 18px;
}

.dashboard-container ul :hover {
  background: #4d6a838c;
  color: black;
}
.dashboard-container li :hover {
  color: black;
}
.dashboard-container li .active {
  color: #00ff1f;
}
.dashboard-container a {
  text-decoration: none;
  color: #fff;
}
.content {
  display: inline-flex;
  overflow: hidden;
}
.user-login {
  color: #fff;
  font-weight: bolder;
}
