* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #141d1d;
  line-height: 1.5;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
}

.layout {
  font-family: "Source Sans Pro", sans-serif;
  background: #007bf7;
}
.mainVisual {
  display: flex;
  background: #fff;
}
.content {
  padding: 50px 40px;
  flex-grow: 1;
}
.user-login {
  color: #fff;
  font-weight: bolder;
}
.dashboard-container li a {
  padding: 25px 30px;
  color: #fff;
  text-align: center;
  display: block;
  text-decoration: none;
}
.dashboard-container li {
  margin: 23px 0 23px;
}
.dashboard-container p {
  margin: 0;
}
.dashboard-container .users {
  background: url(../../images/userIcon.png) left center no-repeat;
  background-size: 14%;
}
.dashboard-container .admins {
  background: url(../../images/adminIcon.png) left center no-repeat;
  background-size: 14%;
}
.dashboard-container .company {
  background: url(../../images/companyIcon.png) left center no-repeat;
  background-size: 14%;
}
.dashboard-container .division {
  background: url(../../images/divisionIcon.png) left center no-repeat;
  background-size: 14%;
}
.dashboard-container ul {
  margin-bottom: 197px;
}
.dashboard-container a:hover {
  background: #148dfe;
}
.dashboard-container {
  width: 200px;
  height: 89.2vh;
  background: #0584fe;
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  // background: #08f;
}
// .dashboard-container {
//   overflow: hidden;
//   width: 193px;
//   background: #08f;
// }
// .dashboard-container ul {
//   display: inline-block;
//   padding: 0;
//   margin: 0;
//   width: 100%;
//   cursor: pointer;
// }
// .dashboard-container li {
//   padding: 73.7px 0;
//   list-style: none;
//   text-align: center;
//   font-size: 18px;
// }
.dashboard-container .userSec {
  color: #fff;
  margin: 0 auto;
  text-align: center;
  width: 64%;
  border-radius: 10px;
  padding: 20px 0 20px;
  background: #37a3dac7 url(../../images/userIcon.png) 103px center no-repeat;
  background-size: 14%;
}
// .dashboard-container ul :hover {
//   background: #4d6a838c;
//   color: black;
// }
// .dashboard-container li :hover {
//   color: black;
// }
.dashboard-container li .active {
  color: #00ff1f;
}
// .dashboard-container a {
//   text-decoration: none;
//   color: #fff;
// }
// .layout .modal-content {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   pointer-events: auto;
//   background-color: #fff;
//   background-clip: padding-box;
//   border: 1px solid rgba(0,0,0,.2);
//   border-radius: .3rem;
//   outline: 0;
// }
// .layout .modal-header {
//   display: flex;
//   align-items: flex-start;
//   justify-content: space-between;
//   padding: 1rem 1rem;
//   border-bottom: 1px solid #dee2e6;
//   border-top-left-radius: calc(.3rem - 1px);
//   border-top-right-radius: calc(.3rem - 1px);
// }
// .layout .modal-title {
//   margin-bottom: 0;
//   line-height: 1.5;
// }
// .layout .modal-header .close {
//   padding: 1rem 1rem;
//   margin: -1rem -1rem -1rem auto;
// }
// .layout .sr-only {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   padding: 0;
//   margin: -1px;
//   overflow: hidden;
//   clip: rect(0,0,0,0);
//   white-space: nowrap;
//   border: 0;
// }
// .layout .modal-body {
//   position: relative;
//   flex: 1 1 auto;
//   padding: 1rem;
// }
// .layout .modal-footer {
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: flex-end;
//   padding: .75rem;
//   border-top: 1px solid #dee2e6;
//   border-bottom-right-radius: calc(.3rem - 1px);
//   border-bottom-left-radius: calc(.3rem - 1px);
// }
// .modal-footer .btn-danger {
//   color: #fff;
//   background-color: #dc3545;
//   border-color: #dc3545;
// }
// .modal-footer .btn-primary {
//   color: #fff;
//   background-color: #007bff;
//   border-color: #007bff;
// }