* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: top;
}
a {
  text-decoration: none;
}
.layout {
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  background: #007bf7;
}
.mainVisual {
  display: flex;
  background: #fff;
}
.content {
  flex-grow: 1;
  min-height: 789px;
  max-width: 87.5%;
  overflow: hidden;
}
.user-login {
  color: #fff;
  font-weight: bolder;
}
.dashboard-container li a {
  padding: 20px 30px;
  color: #93cbff;
  display: block;
  text-decoration: none;
}
.dashboard-container p {
  margin: 0;
}
.dashboard-container li a i {
  padding-right: 10px;
}
.fa-user:before {
  content: "\f007";
}
.fa-users:before {
  content: "\f0c0";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-book-reader:before {
  content: "\f5da";
}

.dashboard-container a:hover {
  background: #148dfe;
}
.dashboard-container {
  width: 200px;
  height: auto;
  background: #0584fe;
  display: flex;
  flex-flow: column;
  z-index: 1;
}
.dashboard-container .userSec {
  position: relative;
  padding: 20px 10px 20px 58px;
  margin: 0 0 30px;
  color: #fff;
  background: rgb(0, 81, 233);
  border-radius: 30px;
  min-height: 60px;
  background-size: 14%;
}
.name-holder button {
  padding: 0;
  outline: none;
  border: none;
}
.name-holder button a {
  padding: 10px;
  display: block;
}
.name-holder button a:hover {
  color: #fff;
  background: green;
}
.dashboard-container li .active {
  color: #fff;
  background: #148dfe;
}
.modal-body {
  text-align: center;
}
.modal-footer .btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.modal-footer .btn-primary {
  color: #fff;
  background-color: green;
  border-color: #007bff;
}
.dashboard-container .logout {
  margin-top: auto;
  padding: 20px 9px;
}
.logout button {
  padding: 20px 30px;
  background: #34abfb;
  color: #fff;
  display: block;
  width: 100%;
  outline: none !important;
  border: none;
}
.logout button i {
  margin-right: 10px;
}
.dashboard-container .logout button:hover {
  background: #58bb84;
}
.name-holder {
  padding: 0 15px;
}
// .userSec:before {
//   position: absolute;
//   left: 10px;
//   top: 50%;
//   transform: translateY(-50%);
//   content: "\f406";
//   font-family: "Font Awesome 5 Free";
//   font-weight: 900;
//   font-size: 14px;
//   background: rgb(0, 52, 119);
//   padding: 10px 13px;
//   border-radius: 30px;
//   margin-right: 10px;
// }
[data-reach-dialog-content] {
  text-align: center;
}
[data-reach-dialog-content] button {
  color: red;
  border-radius: 7px;
  padding: 0;
  margin: 0 10px;
  outline: none;
  border: none;
  background: #0000002e;
}
[data-reach-dialog-content] a {
  padding: 10px 17px;
  outline: none;
  display: block;
}
.red {
  color: red;
}
a:hover {
  color: #0056b3;
  text-decoration: none !important;
}
.display {
  display: none;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 12%;
  margin: 0 auto;
  text-align: center;
}
.header {
  background: #0584fe;
  overflow: hidden;
}
.header ul {
  overflow: hidden;
  display: inline-flex;
  float: right;
  margin: 0;
}
.header li {
  float: right;
}
.header .userSec {
  margin: 18px 8px;
  font-size: 16px;
}
.header li .settings {
  border-right: 1px solid grey;
}

