.block01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.table-header {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnAdd a {
  display: inline-block;
  background: #d3e9d4;
  padding: 10px;
  color: black;
  font-size: 14px;
}
.btnAdd a:hover {
  text-decoration: none;
  background: #9ee99e;
}
.btnAdd a i {
  margin-left: 4px;
}
.table-title {
  padding: 10px;
}
.table-main {
  border: 1px solid;
  border-top: none;
  overflow: hidden;
}
.btn1 a {
  display: inline-block;
  background: #148dfe;
  border-radius: 40px;
  padding: 20px 30px;
  color: #fff;
  font-size: 14px;
}
.fa-plus:before {
  content: "\f067";
}
.btn1 a:hover {
  text-decoration: none;
}
.btn1 a i {
  margin-left: 15px;
}
.form-container {
  max-width: 98%;
  padding: 40px 20px 20px;
  border-radius: 20px;
  background: #f6f6fa;
  margin: 0 auto 32px;
  position: relative;
}
.form-box {
  border: 1px solid;
  overflow: hidden;
}
.form-input {
  margin-right: 20px;
  width: 23%;
  display: inline-block;
}
.form-title {
  border-bottom: 1px solid;
  padding: 10px;
  margin-bottom: 20px;
}
.form-container label {
  margin-bottom: 0;
}
.form-container input {
  text-align: left;
  padding: 12px 20px;
  width: 97%;
  margin: 0 11px 20px;
  border: 1px solid #ccc;
}
.form-container input,
label {
  display: block;
  margin-left: 10px;
}
.form-container .password {
  position: relative;
}
.form-container .namefield {
  text-transform: capitalize;
}
.form-container select {
  width: 100%;
  border: 1px solid #ccc;
  padding: 12px 20px;
  margin-bottom: 20px;
  text-align: left;
}

#title {
  text-align: center;
  font-size: 23px;
  margin-bottom: 13px;
  font-family: arial, sans-serif;
}
#usersdata {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
#usersdata td,
#usersdata th {
  border: 1px solid #ddd;
  padding: 8px;
  background: #fff;
  cursor: context-menu;
  text-align: center;
}
#usersdata th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}
.tableData {
  max-width: 100%;
  height: auto;
}
.delete {
  color: #fff;
  padding: 10px 13px;
  margin: 10px;
  cursor: pointer;
  outline: none;
  border: 1px solid #d9534f;
  background: #d9534f;
  border-radius: 10px;
  outline: none;
}
.edit {
  color: #fff;
  padding: 10px 21px;
  margin: 10px;
  cursor: pointer;
  outline: none;
  border: 1px solid #5cb85c;
  background: #5cb85c;
  border-radius: 10px;
  outline: none;
}
.delete:hover,
.edit:hover {
  background: #1a7eae;
}
.btn {
  background: #1286b2ad;
  color: #fff;
  outline: none;
  border: 1px solid;
  margin: 0 5px;
  padding: 5px 9px;
}
.btn a {
  color: #fff;
  text-decoration: none;
}
.btn-info {
  font-size: 13px;
  cursor: pointer;
  width: 10%;
}
.btn-info:hover {
  background: green;
}
.errorMessage {
  display: inline-block;
  font-size: 12px;
  color: red;
  margin: 0 0 20px;
}
.validation {
  display: block;
  margin-bottom: 1em;
}
.validation p {
  display: inline-block;
  margin: 0;
  text-align: left;
  font-size: 12px;
}
.validator {
  display: block;
}
.error {
  color: #f2180a;
}
.success {
  color: #0c0;
}
.validation-icon,
.error,
.success {
  display: inline-block;
  width: 1.25em;
}

.error-msg {
  color: red !important;
}
.input__label {
  display: block;
  font-weight: 700;
  text-align: left;
  margin-bottom: 0.5em;
  color: #222;
}
.input--error {
  border: 2px solid #f2180a !important;
}
.super-container {
  max-width: 1094px;
  margin: 0 auto;
}
.super-container h2 {
  font-size: 1.8em;
  font-weight: 700;
}
.confirm-section {
  overflow: hidden;
  max-width: 234px;
  margin: 0 auto;
}
.confirm-section p {
  display: inline-block;
  margin: 0 10px;
}
.confirm-section button {
  background: #6ecd90;
  outline: none;
  color: #fff;
  padding: 15px 20px;
  border-radius: 7px;
  border: none;
  margin: 0 10px;
  text-transform: capitalize;
}
.confirm-section a {
  background: #dd2828;
  outline: none;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 0;
  color: #fff;
  text-decoration: none;
  display: block;
  text-transform: capitalize;
}
.fa-eye:before {
  position: absolute;
  right: 48px;
  bottom: 57px;
}
.fa-eye-slash:before {
  position: absolute;
  right: 48px;
  bottom: 57px;
}
.fa-arrow-up {
  position: relative;
  left: 56px;
  cursor: pointer;
}
.sort-button {
  position: relative;
  left: 14px;
}
.form-container .display {
  display: block;
}
.display {
  display: none;
}
.dashboard {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
textarea {
  overflow: auto;
  resize: vertical;
  width: 100%;
  height: 12vh;
}
p {
  margin: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.card {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
  margin-bottom: 1.875rem;
  border: none;
  box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
  border-radius: 0.45rem;
}

.gutters-sm > .col,
.gutters-sm > [class*="col-"] {
  padding-right: 8px;
  padding-left: 8px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}
// .card-body {
//   flex: 1 1 auto;
//   padding: 0;
// }
.card .card-title {
  text-align: center;
  border-top: 1px solid;
  font-weight: 500;
  letter-spacing: 0.05rem;
  font-size: 1.12rem;
  margin: 14px 0;
  padding: 16px;
}
.card .contain-counter {
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  color: #fff;
  padding: 36px 0;
}
.card-title {
  margin-bottom: 1.5rem;
}
.divisions-bg,
.admins-bg {
  background: #fff url(../images/admin.jpg) top center no-repeat;
  background-size: 100% 100%;
}
.companies-bg {
  background: #fff url(../images/company.jpg) top center no-repeat;
  background-size: 100% 100%;
}
.users-bg {
  background: #fff url(../images/user.jpg) top center no-repeat;
  background-size: 100% 100%;
}
.col-md-8 {
  max-width: 100%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 800px;
  top: 200px;
  z-index: 1;
}
.view-info {
  padding: 30px;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
  width: 17%;
}

.setting-main {
  display: flex;
}
.pagination {
  float: right;
  padding-left: 0;
  margin: 5px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination a {
  cursor: pointer;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1200px) {
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media only screen and (max-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 576px) {
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
