.red {
    border: 4px solid #ed1c24;
    border-radius: 13px;
    width: 200px;
    margin: 0 auto;
    padding: 20px;
}
.bold {
    font-weight: bold;
    font-size: 49px;
}
.textContainer {
    text-align: center;
    font-size: 29px;
    color: black;
}
.button {
    width: 182px;
    padding: 13px 0;
    margin: 0 auto;
}
.button button {
    background: #00a2e8;
    border: 0;
    width: 172px;
    margin: 0 auto;
    padding: 12px 0;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
.error {
    color: darkred;
    font-size: 27px;
    text-align: center;
}
p {
    font-size: 12px;
    text-align: center;
}
.forms form {
    margin: 0 auto;
    width: 190px;
    text-align: center;
}
.forms form input[type="text"] {
    width: 191px;
}
.forms form input[type=submit] {
    width: 128px;
    padding: 10px 0;
    margin: 12px 0;
    font-size: 20px;
    background: #0014ff4d;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 17px;
}
.forms input[type=submit]:hover {
    opacity: 0.9;
}
.wrap {
    width: 100%;
}
.inner {
    width: 450px;
    margin: 0 auto;
}


